/*Reset css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root*/

:root
{
    --var-bodycolor: #fff;
    --var-text-primary-color: rgb(18, 18, 18);
    --var-text-bold: 700; 
    --var-common-text-size: 16px;
    --var-title-size: 36px;
    --var-second-title-size: 20px;
    --var-secondary-color: crimson;
}

html
{
    overflow-x: hidden;
}

body
{
    font-family: 'poppins';
    overflow-x: hidden;
}

/*Header styling*/

header
{
    position: fixed;
    z-index: 999;
    top: 0;
    padding: 30px 0;
    width: 100%;
    background-color: var(--var-bodycolor);
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.container
{
    display: flex;
    justify-content: space-between;
    width: 768px;
}

.logo__2ace
{
    display: flex;
    align-items: center;
}

.logo__2ace img
{
    height: 35px;
    margin-right: 20px;
}

.nav__bar
{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitem a
{
    text-decoration: none;
    color: var(--var-text-primary-color);
    font-weight: var(--var-text-bold);
    transition: all .3s ease-in;
}

.navitem a:hover
{
    color: var(--var-secondary-color);
}

.navitem
{
    position: relative;
}

.navitem::before
{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--var-secondary-color);
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.navitem:hover::before
{
    width: 100%;
}

.logo__2ace h3 a
{
    cursor: pointer;
    text-decoration: none;
    color: var(--var-text-primary-color);
}

/*Presentation styling*/

.mensa__presentation__container
{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 150px auto;
}

.mensa__presentation h1
{
    display: flex;
    text-align: center;
    font-size: var(--var-title-size);
    margin-top: 20px;
    color: var(--var-secondary-color);
}

.presentation__container__part1
{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name
{
    font-family: 'khand';
    font-size: var(--var-title-size);
    text-align: left !important;
    width: 100%;
    color: var(--var-text-primary-color) !important;
    margin-bottom: 10px;
}

.info1
{
    width: 100%;
    color: var(--var-secondary-color);
    margin-bottom: 10px;
}

.description
{
    text-align: justify;
}

.presentation__container__part2
{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.presentation__container__part2 img
{
    width: 250px;
}

/*Programme*/

.Programme
{
    width: 100%;    
}

.Programme__container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin: 128px 0;
    gap: 50px;
}

.Programme h1
{
    text-align: center;
    font-size: var(--var-title-size);
    color: var(--var-secondary-color);
    margin-bottom: 50px;
    margin-top: 0px;
}

.Programme__container__part1
{
    width: 50%;
}

.Programme__container__part2
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(40px);
}

.Programme__container__part2 img
{
    height: 350px;
    display: flex;
    justify-content: flex-start;
}

.Programme__container__part1 p
{
    font-size: var(--var-common-text-size);
    margin-bottom: 10px;
    text-align: justify;
}

/*Promotion styling*/

.promotion
{
    padding: 128px 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    height: 900px;
}

.promotion video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Affiche*/

.affiche
{
    width: 700px;
    margin: 150px auto;
}

.affiche img
{
    width: 100%;
}

/*Voter*/

.voter
{
    margin: 70px 0;
    width: 968px;
    margin: 0 auto 100px;
}

.voter button
{
    width: 100%;
    padding: 15px 0;
    background-color: var(--var-secondary-color);
    color: var(--var-bodycolor);
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

/*Footer*/

footer
{
    background-color: rgb(50, 50, 50);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: var(--var-bodycolor);
}

/*responsive*/

@media screen and (max-width: 500px){
    body
    {
        overflow-x: hidden;
    }
    header
    {
        position: fixed;
        top: 0;
        padding: 15px 0;
        width: 100%;
        background-color: var(--var-bodycolor);
        display: flex;
        justify-content: center;
    }
    .logo__2ace img
    {
        height: 40px;
    }
    .container
    {
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .nav__bar
    {
        display: none;
        transition: all 1s cubic-bezier(.5, 0, 0, 1);
    }

    .complete
    {
        /* height: 500px; */
        padding-top: 20px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu i
{
    font-weight: 900;
    font-size: 18px;
}

.navitem
{
    margin-bottom: 15px;
}

    .mensa__presentation
    {
        width: 100%;
        margin-top: 0px;
    }
    .mensa__presentation__container
    {
        margin-top: 0;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0 0 0 25px;
    }
    .mensa__presentation h1
    {
        display: none;
    }
    .presentation__container__part1
    {
        width: 320px;
    }
    .presentation__container__part2
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .presentation__container__part2 img
    {
        height: 350px;
        padding-right: 20px;
        width: auto;
        margin-bottom: 20px;
    }
    .name
    {
        display: flex !important;
    }
    .Programme
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 50px;
    }
    .Programme h1
    {
        font-size: 24px;
        padding: 0 0 0 20px;
        text-align: left;
    }
    .Programme__container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 340px;
        gap: 0px;
        margin: 0;
    }
    .Programme__container__part2
    {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .Programme__container__part2 img
    {
        width: 300px;
        height: auto;
        padding: 0;
        transform: translateX(-40px);
        margin-bottom: 40px;
    }
    .Programme__container__part1
    {
        width: 100%;
        padding: 0 25px;
    }
    .Programme__container__part2
    {
        width: 100%;
        padding: 0 10px;
    }
    .promotion
    {
        width: 100%;
        height: auto;
        padding-bottom: 80px;
        padding-top: 80px;
        margin-bottom: 0px;
    }
    .promotion video
    {
        width: 100%;
        height: auto;
    }
    .affiche
    {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .affiche img
    {
        width: 100%;
        height: auto;
    }

    .voter
    {
        margin: 0px auto 60px;
        width: 300px;
    }

    footer
    {
        width: 100%;
    }
    footer div
    {
        width: 100%;
        margin: 0 auto;
    }
    .max__width
    {
        max-width: 100%;
    }
}

.reveal-1{
    opacity: 0;
    transform: translateY(-60px);
    transition: transform 4s cubic-bezier(.5, 0, 0, 1) 0s;
}

.reveal-2{
    opacity: 0;
    transform: translateX(90px);
    transition: transform 4s cubic-bezier(.5, 0, 0, 1) 0s;
}

.reveal-3{
    opacity: 0;
    transform: translateY(-90px);
    transition: transform 4s cubic-bezier(.5, 0, 0, 1) 0s;
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition:  4s cubic-bezier(.5, 0, 0, 1) ;
}