@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Définition des variables et configuration de la page*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --var-bodycolor: #fff;
    --var-text-primary-color: rgb(18, 18, 18);
    --var-text-bold: 700; 
    --var-common-text-size: 16px;
    --var-title-size: 36px;
    --var-second-title-size: 20px;
    --var-secondary-color: crimson;
}

html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'poppins';
}

/*Header styling*/

header
{
    position: fixed;
    top: 0;
    padding: 30px 0;
    width: 100%;
    background-color: var(--var-bodycolor);
    display: flex;
    justify-content: center;
    z-index: 998;
    overflow-x: hidden;
}

.menu
{
    display: none;
}

.container
{
    display: flex;
    justify-content: space-between;
    width: 768px;
}

.logo__2ace
{
    display: flex;
    align-items: center;
    font-family: 'Poppins';
}

.logo__2ace img
{
    height: 35px;
    margin-right: 20px;
}

.nav__bar
{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitem a
{
    text-decoration: none;
    color: var(--var-text-primary-color);
    font-weight: var(--var-text-bold);
    transition: all .3s ease-in;
}

.navitem a:hover
{
    color: var(--var-secondary-color);
}

.navitem
{
    position: relative;
}

.navitem::before
{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--var-secondary-color);
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.navitem:hover::before
{
    width: 100%;
}

.logo__2ace h3 a
{
    cursor: pointer;
    text-decoration: none;
    color: var(--var-text-primary-color);
    font-family: 'Poppins';
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    overflow-x: hidden;
}

/*Footer*/

footer
{
    background-color: rgb(50, 50, 50);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: var(--var-bodycolor);
}

.chart__container
{
    height: 500px;
    width: 500px;
    overflow-x: hidden;
}



/*media query*/

@media screen and (max-width: 500px) {

    .chart__container
{
    height: 350px;
    width: 350px;
}

    .container
{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

    .nav__bar
    {
        display: none;
    }

    .complete
    {
        /* height: 500px; */
        padding-top: 20px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu i
    {
    font-weight: 900;
    font-size: 18px;
    }

    .navitem
    {
        margin-bottom: 15px;
    }

    footer
    {
        bottom: 60px;
    }

}